<ion-content color="dark">
  <ion-card>
    <ion-img class="resp"
      src="https://img.freepik.com/vetores-gratis/desenho-plano-de-fundo-de-halloween_23-2149077569.jpg?w=996&t=st=1667257452~exp=1667258052~hmac=c858ee561aa690a8a4a5faf278c339c86e687d6d49172443fe09259b2c59a275"
      alt="img fundo"></ion-img>
    <ion-card-title>
      <ion-toolbar class="ion-text-center  " color="laranja">Login</ion-toolbar>
    </ion-card-title>
    <form [formGroup]="loginForm" >
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
    </form>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="laranja" expand="block">
            <ion-label>Entrar</ion-label>
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button color="laranja" expand="block">
            <ion-label>Registrar</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button color="laranja" expand="block">
            <ion-label>Esqueceu a Senha ?</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>