<ion-header [translucent]="true">
  <ion-toolbar color="laranja">
    <ion-title>
      Produtos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon="close-outline" (click)="Voltar()" color="dark">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let product of listaProdutos">
    <ion-label>
       Nome: {{product.nome}}<br>
       Preço: R$ {{product.preco}}<br>
       Descrição: {{product.descricao}}<br>
    </ion-label>
  </ion-item>

</ion-content>
